/*Contenedor de información */

.content-info{
    border-radius: 5px;
    background-color: white;
    margin-right: 30px;
    margin-top: 40px;
    width: 250px;
    height:200px ;
    padding-top: 10px;
}

.titles{
    font-size: 1.4rem;
}