.container{
  margin: 0;
  padding: 0;
}

/* Parte izquierda */
.parte-izquierda{
  color: white;
  text-align: center;
}

.title{
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.linea-blanca{
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin-top: 10px;
}

.list{
  list-style: none;
  padding-right: 45px;
}

.link{
  color: white;
  text-decoration: none;
}

a:hover{
  border-bottom: 1px solid;
  color: white;
}

/* Parte derecha */

h1{
  margin-left: 20px;
}

.contenedor-graficas{
  height: 600px;
  border-radius: 30px;
  margin-left: 1px;
}